{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ SITE_TITLE|default:"no title" }}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/umi.css' %}">
    <script src="{% static 'js/marked.js' %}"></script>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    {% block extrahead %}{% endblock %}

</head>
<body>

<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="./" class="navbar-brand">{{ SITE_TITLE|default:"no title" }}</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <!-- menu   -->
                    <li><a href="./">Top</a></li>
                </ul>
                {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" data-toggle="dropdown">ログイン中: {{ user }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/mypage/">マイページ</a></li>
                                <li><a href="/logout/">ログアウト</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <button class="btn btn-info btn-sm navbar-btn navbar-right" onclick="location.href='/login/'">ログイン
                    </button>

                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="container">
    {% block content %}
        {{ content }}
    {% endblock %}
    <footer>
        <hr>
        (c) 2015 clom-networks.
    </footer>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<script type="text/javascript">
    $('.bs-component [data-toggle="popover"]').popover();
    $('.bs-component [data-toggle="tooltip"]').tooltip();
</script>

</body>
</html>
