{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load widget_tweaks %}

{% block content %}
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        <h2>Login</h2>
        <hr>
            {% if form.errors %}
                <p>ユーザ名かパスワードが間違っています</p>
            {% endif %}
            <form class="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <div class="form-actions">
                    {% render_field form.username class="form-control" placeholder=form.username.label %}
                    <br>
                    {% render_field form.password class="form-control" placeholder=form.password.label %}
                    <br>
                    <input class="btn btn-primary" type="submit" value="login"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock content %}