{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <script>
        $(function () {
            marked.setOptions({
                langPrefix: ''
            });

            $('#edit').keyup(function () {
                var md = sanitize($(this).val());
                var html = marked(md);
                $('#preview').html(html);
                $('#preview pre code').each(function (i, e) {
                    $(e).text(unsanitize($(e).text()));
                    hljs.highlightBlock(e, e.className);
                });
            });

        });

        function sanitize(html) {
            return $('<div />').text(html).html().replace(/&gt;/g, ">");

        }
        function unsanitize(html) {
            return $('<div />').html(html).text();
        }
    </script>
    <br>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#editor" data-toggle="tab">Editor</a></li>
        <li><a href="#prev" data-toggle="tab">Preview</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="editor">
            <h2>editor</h2>

            {% if article_id %}
                <form action="/edit/{{ article_id }}/" method="post" class="form-horizontal" role="form">
            {% else %}
                <form action="/new/" method="post" class="form-horizontal" role="form">
            {% endif %}
            {% csrf_token %}
            <div class="form-actions">
                {% render_field form.title class="form-control" placeholder="Title" %}
                <br>
                {% render_field form.text class="form-control" placeholder="Text" id="edit" %}
                <br>
                {% render_field form.username class="form-control" %}
                <input type="hidden" name="username" value="{{ user }}">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
            </form>
        </div>
        <div class="tab-pane fade" id="prev">
            <h2>preview</h2>
            <hr>
            <div id="preview"></div>
        </div>
    </div>
{% endblock content %}